*.Rhistory
CodeBook.html
CodeBook_files/bootstrap-2.3.2/css/readable.min.css
README.html
README_files/bootstrap-2.3.2/js/bootstrap.js
.Rproj.user/CB992C6D/sdb/s-2C888F13/lock_file
.Rproj.user/CB992C6D/sdb/s-2C888F13/D34632D7
.Rproj.user/CB992C6D/sdb/s-2C888F13/B4467172
.Rproj.user/CB992C6D/sdb/prop/7A3BE6A2
.Rproj.user/CB992C6D/sdb/prop/INDEX
.Rproj.user/CB992C6D/vcs_options
.Rproj.user/CB992C6D/sdb/prop/6E328168
*.pper
.Rproj.user/C5B23B0C/sdb/prop/503C322E
.Rproj.user/C5B23B0C/sdb/prop/INDEX
.Rproj.user/C5B23B0C/sdb/s-DA5A9B7F/81F6E5E8
.Rproj.user/CB992C6D/build_options
.Rproj.user/CB992C6D/sdb/prop/3DDC777D
.Rproj.user/CB992C6D/sdb/s-2C888F13/C5D5E611